header {
  border-bottom: 1px solid var(--line-color);
  position: relative;

  @media screen and (max-width: 767px) {
    min-width: 480px;
    min-height: 60px;
    padding-top: 16px;
  }
}

.header {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.mobile-menu {
  @media screen and (max-width: 767px) {
    visibility: hidden;
    @include animation(opacity transform);
    position: fixed;
    padding: 40px 48px;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;

    transform: translateY(-100%);
    z-index: 10;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
  }

  background-color: var(--background-color);
}

.mobile-menu.is-open {
  transform: translateY(0%);
  visibility: inherit;
}

.navigation__btn {
  @media screen and (min-width: 768px) {
    display: none;
  }

  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  @include animation(fill);
}

.navigation__btn:hover,
.navigation__btn:focus {
  fill: var(--accent-color);
}

.social-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }

  display: flex;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  &__divide {
    color: var(--border-color-form);
    margin: 0 10px;
  }
}

.navigation__pages {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;

  &__logo {
    display: block;

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  &__title--color {
    color: var(--logo-top-color);
  }

  &__pages {
    display: block;
  }

  @media screen and (max-width: 767px) {
    &__pages {
      margin-bottom: auto;
    }

    &__pages li+li {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    &__pages {
      display: flex;
      margin-right: 84px;
    }

    &__pages li+li {
      margin-left: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__pages {
      margin-right: 305px;
    }
  }

  &__page {
    @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: 1.18;
    }

    color: var(--title--color);
  }

  &__page--active {
    position: relative;
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    &__page--active::after {
      position: absolute;

      @media screen and (min-width: 1200px) {
        bottom: -2px;
      }

      bottom: -1px;
      left: 0;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

.logo {
  font-family: $font-logo;
  font-weight: 700;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
}

.contacts {
  &__link {
    @media screen and (min-width: 768px) {
      display: flex;
      font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }

    color: var(--text--color);
    fill: currentColor;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 64px;

    & li+li {
      margin-bottom: 32px;
      font-size: 34px;
    }

    &__link--format {
      line-height: 1.18;
      color: var(--accent-color);
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;

    & li+li {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    display: flex;

    & li+li {
      margin-left: 50px;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 767px) {

    &__ico-envelope,
    &__ico-smartphone {
      display: none;
    }
  }

  &__ico-envelope {
    margin-right: 10px;
  }

  &__ico-smartphone {
    margin-right: 10px;

    @media screen and (min-width: 768px) {
      height: 14px;
    }

    @media screen and (min-width: 1200px) {
      height: 16px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation__page {
  display: block;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation__page,
.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include animation(color fill);
}

.navigation__page:hover,
.contacts__link:hover,
.navigation__page:focus,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}