.filter {
  display: flex;
  flex-wrap: wrap;

  .active {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px $color-box-shadow-1,
      0px 1px 2px $color-box-shadow-08, 0px 2px 2px $color-box-shadow-12;
  }

  @media screen and (max-width: 767px) {
    & li {
      margin-right: 8px;
      margin-bottom: 15px;
    }
  }

  & li:last-child {
    margin-right: 0;
  }

  & li:nth-child(3n) {
    margin-right: 0;
  }

  & li:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;

    & li+li {
      margin-left: 8px;
    }
  }

  justify-content: flex-start;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  margin-bottom: 40px;

  &__btn {
    padding: 6px 22px;

    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title--color);
    background-color: var(--background-color-man-section);
    border-radius: 4px;
    border: none;
    @include animation(background-color color box-shadow);
  }

  &__btn:hover,
  &__btn:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px $color-box-shadow-1,
      0px 1px 2px $color-box-shadow-08, 0px 2px 2px $color-box-shadow-12;
  }
}