:root {
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --title--color: #212121;
  --text--color: #757575;
  --background-color-section: #2f303a;
  --logo-top-color: #000000;
  --contact-botom-color: rgba(255, 255, 255, 0.6);
  --background-color-man-section: #f5f4fa;
  --line-color: #ececec;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-color-footer: rgba(255, 255, 255, 0.1);
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --button-hiro-hover: #188ce8;
  --background-box: rgba(47, 48, 58, 0.8);
  --background-color-project: rgba(33, 150, 243, 0.9);
  --background-modal: rgba(0, 0, 0, 0.2);
  --border-color-form: rgba(33, 33, 33, 0.2);
  --modal-btn-color: rgba(0, 0, 0, 0.1);
}

$color-box-shadow-12: rgba(0, 0, 0, 0.12);
$color-box-shadow-14: rgba(0, 0, 0, 0.14);
$color-box-shadow-2: rgba(0, 0, 0, 0.2);
$color-box-shadow-1: rgba(0, 0, 0, 0.1);
$color-box-shadow-08: rgba(0, 0, 0, 0.08);
$color-box-shadow-06: rgba(0, 0, 0, 0.06);
$color-box-shadow-16: rgba(0, 0, 0, 0.16);
$color-box-shadow-15: rgba(0, 0, 0, 0.15);
$color-border-3: rgba(255, 255, 255, 0.3);

$font-logo: Raleway, sans-serif;
$font-text: Roboto, sans-serif;

@mixin animation($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
